:root {
  /* Variables for colours, fonts */
  --body-font: 'Josefin Sans', 'Liberation sans', Tahoma, sans-serif;
  --heading-font: Rancho, cursive;
  --col-aqua-400: #2A9D8F;
  --col-orange-400: #E76F51;
  --col-neutral-grey-800: rgb(50, 50, 50);
  --col-neutral-grey-200: #CCCCCC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* default styling */
body {
  font-family: var(--body-font);
}

main, header {
  padding: 1rem;
}

img {
  width: 100%;
}

.section-title {
  text-align: center;
  font-family: var(--heading-font);
  margin: 2rem auto;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: lighter;
}

.section-title span {
  display: block;
  color: var(--col-orange-400);
  margin-top: 0.5rem;
}

.btn {
  background-color: var(--col-aqua-400);
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
}

/** HEADER **/
header nav ul li {
  display: none;
  list-style-type: none;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: var(--heading-font);
}

#burger-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}


/** end of HEADER **/

/** HERO **/
.hero-info h1 {
  font-weight: lighter;
  font-size: 3.5rem;
  color: var(--col-neutral-grey-800);
  margin: 3rem 0;
}

.coloured-word {
  color: var(--col-aqua-400);
}

.hero-buttons {
  display: flex;
  justify-content: space-around;
}

.hero-buttons button {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  border: none;
}

.hero-buttons :first-child {
  background-color: var(--col-orange-400);
  box-shadow: 5px 5px 15px var(--col-orange-400);
  margin-right: 15%;
  color: white;
}

.hero-buttons :last-child {
  background-color: white;
  font-size: 1rem;
}

img.hero-icons {
  display: block;
  max-width: 400px;
  margin: 3rem auto;
}


/** end of HERO **/

/** HEADER **/
/** end of HEADER **/

/** HEADER **/
/** end of HEADER **/

/*** TABLET and Desktop media Queries ***/
@media screen and (min-width: 725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }

  main {
    padding: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  header nav ul li {
    display: inline;
    font-weight: bold;
    font-size: 1.2rem;
  }

  #burger-menu {
    display: none;
  }

  /* hero */
  .hero {
    display: flex;
    padding: 1rem;
  }
  
  .hero-info {
    padding: 1rem;
  }

  .hero-info-block {
    display: block;
  }

  .hero-img {
    width: 400px;
  }

  .hero-buttons {
    justify-content: flex-start;
  }
}