:root {
  /* Variables for colours, fonts */
  --body-font: 'Josefin Sans', 'Liberation sans', Tahoma, sans-serif;
  --heading-font: Rancho, cursive;
  --col-blue-400: rgb(0, 12, 198);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* default styling */
body {
  font-family: var(--body-font);
}

main, header {
  padding: 1rem;
}

img {
  width: 100%;
}

/** HEADER **/
header nav ul li {
  display: none;
  list-style-type: none;
}

#logo {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: var(--heading-font);
}

#burger-menu {
  display: inline;
  float: right;
  font-size: 1.6rem;
}
/** end of HEADER **/

/** HEADER **/
/** end of HEADER **/

/** HEADER **/
/** end of HEADER **/

/** HEADER **/
/** end of HEADER **/

@media screen and (min-width: 725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
  }

  main {
    padding: 0;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  header nav ul li {
    display: inline;
    font-weight: bold;
    font-size: 1.2rem;
  }

  #burger-menu {
    display: none;
  }
}